body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:29px;
  width:145px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
.u1170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:80px;
}
.u1170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:40px;
}
.u1171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1700px;
  height:40px;
}
.u1172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
.u1173 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:10px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
.u1173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u1174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
.u1174 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:10px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
.u1174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u1175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#000000;
}
.u1175 {
  border-width:0px;
  position:absolute;
  left:1403px;
  top:49px;
  width:105px;
  height:20px;
  text-decoration:underline;
  color:#000000;
}
.u1175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
.u1176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
.u1176 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:50px;
  width:136px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
.u1176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
.u1177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
.u1177 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:10px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
.u1177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u1178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1178 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:50px;
  width:43px;
  height:20px;
}
.u1178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u1179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
.u1179 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:10px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
.u1179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u1180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1180 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:50px;
  width:44px;
  height:20px;
}
.u1180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
.u1181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
.u1181 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:10px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
.u1181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u1182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1182 {
  border-width:0px;
  position:absolute;
  left:1299px;
  top:50px;
  width:29px;
  height:20px;
}
.u1182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u1183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1183 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:50px;
  width:175px;
  height:20px;
}
.u1183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
.u1184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
.u1184 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:10px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
.u1184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u1185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
.u1185 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:50px;
  width:29px;
  height:20px;
  color:#000000;
}
.u1185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u1186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
.u1186 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:10px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
.u1186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u1187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
.u1187 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:50px;
  width:24px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
.u1187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
.u1188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
.u1188 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:10px;
  width:113px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
.u1188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
.u1189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
.u1189 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:50px;
  width:71px;
  height:20px;
  color:#000000;
}
.u1189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1169-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:80px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:240px;
  width:1700px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:109px;
  width:200px;
  height:40px;
  font-size:20px;
}
#u1190_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:195px;
  width:300px;
  height:30px;
}
#u1191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u1192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:195px;
  width:77px;
  height:30px;
}
#u1192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u1193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:159px;
  width:57px;
  height:20px;
}
#u1193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:46px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:1500px;
  top:988px;
  width:420px;
  height:46px;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:157px;
  width:170px;
  height:25px;
}
#u1195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
#u1196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:159px;
  width:113px;
  height:20px;
}
#u1196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1293px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:200px;
  height:1293px;
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:200px;
  height:40px;
  font-size:16px;
  text-align:center;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:349px;
  width:200px;
  height:40px;
  text-align:center;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:393px;
  width:200px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:299px;
  width:200px;
  height:40px;
  font-size:16px;
  text-align:center;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:472px;
  width:200px;
  height:40px;
  font-size:16px;
  text-align:center;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:40px;
  font-size:16px;
  text-align:center;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:200px;
  height:40px;
  text-align:center;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:158px;
  width:15px;
  height:9px;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:200px;
  height:40px;
  text-align:center;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:317px;
  width:15px;
  height:9px;
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:884px;
  width:200px;
  height:40px;
  font-size:16px;
  text-align:center;
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:903px;
  width:15px;
  height:9px;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:922px;
  width:200px;
  height:40px;
  text-align:center;
}
#u1212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1010px;
  width:200px;
  height:40px;
  text-align:center;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:970px;
  width:200px;
  height:40px;
  text-align:center;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1050px;
  width:200px;
  height:40px;
  text-align:center;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1090px;
  width:200px;
  height:40px;
  text-align:center;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1130px;
  width:200px;
  height:40px;
  font-size:16px;
  text-align:center;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:433px;
  width:200px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:493px;
  width:15px;
  height:9px;
}
#u1219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:516px;
  width:200px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:556px;
  width:200px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:596px;
  width:200px;
  height:40px;
  font-size:16px;
  text-align:center;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:617px;
  width:15px;
  height:9px;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:636px;
  width:200px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:676px;
  width:200px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:716px;
  width:200px;
  height:40px;
  font-size:16px;
  text-align:center;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:737px;
  width:15px;
  height:9px;
}
#u1227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:756px;
  width:200px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:796px;
  width:200px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:836px;
  width:200px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1210px;
  width:200px;
  height:40px;
  text-align:center;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1170px;
  width:200px;
  height:40px;
  text-align:center;
}
#u1232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:1146px;
  width:15px;
  height:9px;
}
#u1233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:796px;
  width:200px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:159px;
  width:87px;
  height:22px;
}
#u1235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1235_input:disabled {
  color:grayText;
}
#u1236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:157px;
  width:57px;
  height:20px;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:157px;
  width:87px;
  height:22px;
}
#u1237_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1237_input:disabled {
  color:grayText;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:90px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:90px;
}
#u1239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:29px;
  width:199px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u1241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:31px;
  width:100px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:31px;
  width:100px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:31px;
  width:100px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:31px;
  width:100px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:31px;
  width:100px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:31px;
  width:100px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:31px;
  width:100px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:31px;
  width:100px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:1679px;
  top:30px;
  width:30px;
  height:32px;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:1724px;
  top:36px;
  width:97px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:1833px;
  top:40px;
  width:20px;
  height:12px;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:205px;
  width:161px;
  height:20px;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
